* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // base size when rem is set
  font-size: 10px;
}

body {
  font-family: "Lato", sans-serif;
}

p {
  // default font size of display is 16px
  // 1rem -> 16px, 2rem -> 32px
  font-size: 1.6rem; // 16px according to {html > font-size}
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
